body {
  background-image: url("https://media.istockphoto.com/photos/golf-ball-near-hole-picture-id465611306?k=20&m=465611306&s=612x612&w=0&h=fLKsY8DkB9OdznNdoGcSA9m5jUIZLCK7JU-dIBy9uDU=");
  background-size: cover;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}

.container {
  max-width: 80%;
  text-align: center;
  background: #88e26f;
  border: 1px solid black;
  width: 200px;
  height: auto;
  margin: auto;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0px 0px 2px black;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0px 0px 2px black;
}

button {
  border: 1px solid white;
  padding: 10px 0px 10px 0px;
  color: white;
  font-weight: bold;
  width: 170px;
  margin-bottom: 12px;
  border-radius: 12px;
}

#save-el {
  color: white;
  text-shadow: 0px 0px 1px black;
}

#increment-btn {
  background: green;
}

#save-btn {
  background: red;
}
